<div class="base-login element-100">
    
    <div class="container pt-5">

          <div class="row">
              <div class="col bgImage">
              
              </div>
              <div class="col bg-white text-secondary round-right-side">
                 <div class="text-end">
                     <img src="assets/door.png" width="45" alt="logo">
                 </div>
                 <h2 class="fw-bold text-center pt-5 mb-5">Welcome Auth</h2>
                 <form autocomplete="off"
                       (ngSubmit)="validateUser()"
                      [formGroup]="validUserForm">
                     <div class="mb-4">
                         <label for="email" class="form-label">Email</label>
                         <input type="email" 
                                name="email" 
                                class="form-control" 
                                placeholder="email"
                                formControlName="email">
                    </div>
                    <div class="mb-4">
                         <label for="password" class="form-label">Password</label>
                         <input type="password" 
                                name="password" 
                                class="form-control" 
                                placeholder="password"
                                formControlName="password">
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" 
                               name="remember" 
                               class="form-check-input"
                               formControlName="remember">
                        <label for="remember" class="form-check-label">Remember me</label>
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="email?.invalid && (email?.dirty || email?.touched)">The email is required</p>
                            <p *ngIf="password?.invalid && (password?.dirty || password?.touched)">The password is required</p>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-secondary"
                                [disabled]="!validUserForm.valid">LOG IN</button>
                    </div>
                    <div class="my-3">
                        <span> You don't have an account: <a routerLink="/register">Register</a></span> <br>
                    </div>
                 </form>
              </div>
          </div>
    </div>
</div>
