<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/door.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
         Welcome to login: {{userName}} 
      </a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Options
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" (click)=" close()">Close session</a></li>
        </ul>
      </li>
    </div>
  </nav>
